body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

/* inputs */
.inputs input {
  width: 70px;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#tempo {
  font-size: 48px;
  margin: 20px;
}

/* AMPULHETA REAL */
.ampulheta {
  position: relative;
  width: 140px;
  height: 240px;
  margin: auto;
}

/* areia topo */
.top-sand {
  position: absolute;
  width: 100%;
  height: 50%;
  background: gold;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

/* areia fundo */
.bottom-sand {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: gold;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

/* fio de areia */
.flow {
  position: absolute;
  width: 4px;
  height: 100%;
  background: gold;
  left: 50%;
  transform: translateX(-50%);
  animation: cair 0.3s infinite;
}

@keyframes cair {
  0% {opacity: 0.2;}
  50% {opacity: 1;}
  100% {opacity: 0.2;}
}

/* efeito explosão */
.explodir {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {transform: translate(0);}
  25% {transform: translate(5px);}
  50% {transform: translate(-5px);}
  75% {transform: translate(5px);}
  100% {transform: translate(0);}
}

.hidden {
  display: none;
}

#fim img {
  width: 120px;
}

.ranking {
  margin-top: 20px;
}
